.orange {
    color: orange;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.yellow {
    color: greenyellow;
}

.purple {
    color: purple;
}

.bold {
    font-weight: 700;
}

.green {
    color: green;
}